.partOne, .partTwo, .partThree, .partFour {
  height: 20vh;
  width: 100vw;
  padding: 15px;
}

.partOne {
  background: slategray;
}

.partTwo {
  background: salmon;
}

.partThree {
  background: #85E5B2;
}

.partFour {
  background: #FFE7CA;
}